*__*.*
*.o
*.mod
fields_*.*
fields.mat
structure_function*.mat
3d_isosurface.html
examples/scft/plot_3d_isodensity.m
*.dat
*.out
*.sh.*
*.png
*.so
temp*
__pycache__
build
html
latex
man
devel
doc
data*
