__pycache__
.vscode
build
doc
temp*
*.sh
*.dat
*.out
*.png
*.html
*.qdrep
*.sqlite
data_simulation*
fields*.mat
fields*.yaml
structure_function*.mat
examples/*.m
examples/scft*/*.m
examples/fts*/*.m
examples/scft*/Test*
examples/fts*/Test*
examples/temp*
examples/test*
devel/test*
devel/*.m
