__pycache__
.vscode
build
doc
temp*
*.sh
!scripts/*.sh
*.dat
*.out
*.png
!examples/clfts/dynamical_stabilization.png
!docs/grafted_brush_validation.png
!docs/convergence_plot.png
*.html
*.qdrep
*.sqlite
data_simulation*
fields*.mat
fields*.json
fields*.yaml
structure_function*.mat
examples/*.m
examples/lfts*/*.m
examples/lfts*/Test*
examples/scft*/*.m
examples/scft*/Test*
examples/scft*/plot*.*
examples/scft/*.json
examples/scft/phases/*.json
examples/temp*
examples/test*
devel/test*
devel/*.m
devel/cl-fts/
references
Testing
benchmark_results.json
